global:
  scrape_interval: {{ scrape_interval }}
  evaluation_interval: {{ evaluation_interval }}

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:{{ prometheus_port }}']

  - job_name: 'avalanche-validators'
    metrics_path: '/ext/metrics'
    static_configs:
      - targets:
{% for host in groups['validators'] %}
          # Use private IP for internal VPC communication (requires security group to allow port 9650 from VPC CIDR)
          - '{{ hostvars[host]['ansible_default_ipv4']['address'] | default(hostvars[host]['ansible_host']) }}:9650'
{% endfor %}

  - job_name: 'avalanche-rpc'
    metrics_path: '/ext/metrics'
    static_configs:
      - targets:
{% for host in groups['rpc'] %}
          # Use private IP for internal VPC communication
          - '{{ hostvars[host]['ansible_default_ipv4']['address'] | default(hostvars[host]['ansible_host']) }}:9650'
{% endfor %}
