[Unit]
Description=Safe Multisig Infrastructure
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ safe_install_dir }}
ExecStartPre=-/usr/bin/docker compose down --remove-orphans
ExecStart=/usr/bin/docker compose up -d --force-recreate --remove-orphans
ExecStop=/usr/bin/docker compose down --remove-orphans
ExecReload=/usr/bin/docker compose up -d --force-recreate --remove-orphans
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
