RELAYER_BASE_URL=http://127.0.0.1:{{ acp_relayer_api_port }}
L1_RPC_URL=http://127.0.0.1:9650/ext/bc/{{ acp_relayer_blockchain_id }}/rpc
WALLET_RPC_URL=http://127.0.0.1:9650/ext/bc/{{ acp_relayer_blockchain_id }}/rpc
RELAYER_CONSOLE_ORIGIN=http://127.0.0.1:{{ acp_relayer_console_port }}
RELAYER_CONSOLE_INSECURE_COOKIE=1
RELAYER_CONSOLE_SESSION_SECRET={{ lookup('file', acp_relayer_console_session_secret_src) | trim }}
{% if acp_relayer_console_password_hash_src | length > 0 %}
RELAYER_CONSOLE_PASSWORD_HASH={{ lookup('file', acp_relayer_console_password_hash_src) | trim }}
{% endif %}
{% if acp_relayer_safe_enabled | bool %}
SAFE_TX_SERVICE_URL={{ acp_relayer_safe_tx_service_url }}
SAFE_UI_URL={{ acp_relayer_safe_ui_url }}
SAFE_ADDRESS={{ acp_relayer_safe_address }}
{% endif %}
